body {
    background: #010400;
    color: #fff
}

.start {
    background: #07BEB8;
}

footer {
    background: #07BEB8;
}

nav {
    background: #010400;
}

/* icons */
.fab {
    font-size: 20px;
    text-align: center;
    color: #00c2cb;
}

.fas {
    font-size: 3.5rem;
    /* color: #03989e; */
    color: #00c2cb;
    padding: 2rem;

}

ol li {
    font-weight: bolder;
    padding-bottom: 1rem;
}

figure {
    width: 100%;
    background-image: url("img/rock.jpg");
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.card-body {
    padding-bottom: 3rem;
    font-size: 1rem;
    line-height: 1.5;
}

.card-title {
    font-size: 1.4rem;
    /* padding-bottom: 1.5rem; */
}

.btn-dnl {
    height: 3.7rem;
    position: relative;
    top: 11%;
    border-radius: 50px 50px 50px 50px;
    left: 10%;


}

.iphone {
    width: 60%;
    transform: rotate(25deg);
    right: 40%;
    /* border:3px solid black; */
    border-radius: 7px;
    padding-bottom: 6%;
}